workflow:
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /Transifex autosync/
      when: never
    - when: always

before_script:
  - ln -s $PWD data/xonotic-data.pk3dir

  - git clone --depth=1 --branch=main https://gitlab.com/xonotic/gmqcc.git gmqcc
  - cd gmqcc && make -j $(nproc) && export QCC="$PWD/gmqcc"
  - cd ..

test_compilation_units:
  rules:
    - changes:
      - qcsrc/**/*
  stage: test
  script:
    - ./qcsrc/tools/compilationunits.sh

test_sv_game:
  stage: test
  script:
    - git clone --depth=1 --branch=div0-stable https://gitlab.com/xonotic/darkplaces.git darkplaces
    - cd darkplaces && make sv-debug -j $(nproc) && export ENGINE="$PWD/darkplaces-dedicated -xonotic"
    - cd ..

    - mkdir -p data/maps
    - wget -O data/stormkeep.pk3 http://beta.xonotic.org/autobuild-bsp/latest/stormkeep.pk3
    - wget -O data/maps/stormkeep.mapinfo https://gitlab.com/xonotic/xonotic-maps.pk3dir/raw/master/maps/stormkeep.mapinfo
    - wget -O data/maps/stormkeep.waypoints https://gitlab.com/xonotic/xonotic-maps.pk3dir/raw/master/maps/stormkeep.waypoints
    - wget -O data/maps/stormkeep.waypoints.cache https://gitlab.com/xonotic/xonotic-maps.pk3dir/raw/master/maps/stormkeep.waypoints.cache
    - make
    - EXPECT=c7e360b409c6ceddff9c1407ce4e2090
    - HASH=$(${ENGINE} -noconfig -nohome +timestamps 1 +exec serverbench.cfg
      | tee /dev/stderr
      | sed -e 's,^\[[^]]*\] ,,'
      | grep '^:'
      | grep -v '^:gamestart:'
      | grep -v '^:anticheat:'
      | md5sum | awk '{ print $1 }')
    - echo 'expected:' $EXPECT
    - echo '  actual:' $HASH
    - test "$HASH" == "$EXPECT"
    - exit $?

test_sv_unit:
  stage: test
  script:
    - git clone --depth=1 --branch=div0-stable https://gitlab.com/xonotic/darkplaces.git darkplaces
    - cd darkplaces && make sv-debug -j $(nproc) && export ENGINE="$PWD/darkplaces-dedicated -xonotic"
    - cd ..

    - mkdir maps && wget -O maps/gitlab-ci.bsp https://gitlab.com/xonotic/xonotic-maps.pk3dir/raw/master/maps/_init/_init.bsp
    - make
    - while read line; do
        echo $line;
        if [[ $line == "All tests OK" ]]; then exit 0; fi;
      done < <(${ENGINE} +developer 1 +map gitlab-ci +sv_cmd runtest +exit)
    - exit 1

# NOTE: The generated docs are incomplete - they don't contain code behind SVQC CSQC MENUQC GAMEQC ifdefs.
# With them added to PREDEFINED, it would take over half an hour to generate the docs and even then
# they might not be complete. Doxygen doesn't handle #elif and might not understand some QC definitions.
#doxygen:  # rename to 'pages' when gitlab.com allows pages to exceed 100MiB
#  before_script:
#    - ln -s $PWD data/xonotic-data.pk3dir # is this needed?
#    - apt-get update
#    - apt-get -y install doxygen graphviz
#  stage: deploy
#  script:
#    - cd qcsrc && doxygen
#    - mv html ../public
#    - mkdir -p ~/.ssh
#    - for i in {0..0}; do eval $(printf "echo \$id_rsa_%02d\n" $i) >> ~/.ssh/id_rsa_base64; done
#    - base64 --decode ~/.ssh/id_rsa_base64 > ~/.ssh/id_rsa
#    - chmod 600 ~/.ssh/id_rsa
#    - echo -e "Host *\n\tStrictHostKeyChecking no\n\tLogLevel ERROR\n" >> ~/.ssh/config
#    - git config --global user.name "Gitlab CI"
#    - git config --global user.email "<>"
#    - git clone --single-branch --depth 1 ${DEPLOY_HOST}:${DEPLOY_REPO} ~/deploy_
#    - mkdir ~/deploy && mv ~/deploy_/.git ~/deploy && rm -r ~/deploy_
#    - cp -r ../public/* ~/deploy
#    - cd ~/deploy && git add -A . && git commit -m "Deploy ${CI_BUILD_REF}" && git push origin gh-pages
#  artifacts:
#    paths:
#      - public
#  only:
#    - master
