* -crlf
*.0 -crlf
*.1 crlf=input
*.3 crlf=input
*.7z -crlf
*.ac crlf=input
*.a -crlf
*.afm crlf=input
*.aft crlf=input
*.ai -crlf
*.aliases crlf=input
all crlf=input
*.am crlf=input
*.animinfo crlf=input
*.aps -crlf
*.asc -crlf
*.ase -crlf
*.bat -crlf
*.bgs crlf=input
*.blend1 -crlf
*.blend -crlf
blind_id -crlf
*.bmp -crlf
branch-manager crlf=input
*.brand crlf=input
BSDmakefile crlf=input
bsp2ent crlf=input
*.bsp -crlf
*.cache crlf=input
*.cbp -crlf
*.cbp -crlf
*.c crlf=input
*.cfg crlf=input gitlab-language=text
*.cg crlf=input
ChangeLog crlf=input
CHANGES crlf=input
cjpeg -crlf
COMPILING crlf=input
compress-texture crlf=input
*.conf crlf=input
CONTRIBUTORS crlf=input
COPYING crlf=input
*.cpp crlf=input
create crlf=input
*.cron crlf=input
crypto-keygen-standalone -crlf
*.css crlf=input
*.cvswrappers crlf=input
*.d0ir crlf=input
*.d0pk -crlf
*.db crlf=input
*.db.* crlf=input
*.def2ent crlf=input
*.default crlf=input
*.def crlf=input
*.dem -crlf
*.dev -crlf
dir -crlf
*.directory crlf=input
djpeg -crlf
*.dll -crlf
DOCS -crlf
*.dot crlf=input
DoxyConfig crlf=input
doxyfile crlf=input
Doxyfile crlf=input
*.doxygen crlf=input
*.dpm -crlf
*.dsp -crlf
*.dsw -crlf
*.dtd crlf=input
*.dylib -crlf
empty -crlf
*.EncoderPlugin crlf=input
*.ent crlf=input
etc_svc_git-daemon_run crlf=input
*.flac -crlf
*.flp -crlf
*.form crlf=input
*.framegroups crlf=input
*.fteqccfail -crlf
*.game crlf=input
*.gdb crlf=input
gendox crlf=input
gendoxfunctions crlf=input
genDoxyfile crlf=input
*.gif -crlf
*.gitattributes crlf=input
git-branch-manager crlf=input
git-filter-index crlf=input
git-filter-repository crlf=input
*.gitignore crlf=input
git-pk3-import crlf=input
git-pk3-merge crlf=input
git-pullall crlf=input
git-recurse crlf=input
git-split-repository crlf=input
git-svn-checkout crlf=input
git-svn-update crlf=input
git-update-octopus crlf=input
*.glp crlf=input
*.glsl crlf=input
GPL-2 crlf=input
GPL-3 crlf=input
GPL crlf=input
*.hardwired crlf=input
*.h crlf=input
*.hs crlf=input
*.htaccess crlf=input
*.html crlf=input
*.html-part crlf=input
*.icns -crlf
*.ico -crlf
*.idl crlf=input
*.idsoftware crlf=input
*.in crlf=input
*.inc crlf=input linguist-language=C gitlab-language=java
*.info-1 -crlf
*.info-2 -crlf
*.info -crlf
*.inl crlf=input
*.iOS crlf=input
*.iqm -crlf
*.java crlf=input
*.jhm crlf=input
*.jnlp crlf=input
jpegtran -crlf
*.jpg -crlf
*.jsmooth crlf=input
*.la crlf=input
LGPL crlf=input
LICENSE crlf=input
*.lmp -crlf
*.loaders crlf=input
*.lso -crlf
*.m4 crlf=input
makefile crlf=input
Makefile crlf=input
makespr32 crlf=input
*.map -crlf filter=mapclean
*.mapinfo crlf=input
*.m crlf=input
*.md3 -crlf
*.md5anim -crlf
*.md5mesh -crlf
*.mdl -crlf
*.med crlf=input
*.mf crlf=input
*.mid -crlf
*.mk crlf=input
*.mkdir -crlf
*.mmpz -crlf
*.modules crlf=input
*.mp3 -crlf
*.nib -crlf
*.obj -crlf
OFFSETS -crlf
*.ogg -crlf
*.options crlf=input
*.otf -crlf
pangorc crlf=input
*.part crlf=input
*.patch crlf=input
*.patchsets crlf=input
*.pbxproj crlf=input
*.pc crlf=input
*.pfb -crlf
*.pfm -crlf
*.php crlf=input
*.pk3 -crlf
PkgInfo crlf=input
*.pl crlf=input
*.plist crlf=input
*.pm crlf=input
*.png -crlf
*.po crlf=input
POSITIONS -crlf
*.pot crlf=input
*.proj -crlf
*.properties crlf=input
*.psd -crlf
*.py crlf=input
*.q3map1 crlf=input
*.q[ch] crlf=input linguist-language=C gitlab-language=java
*.qdt crlf=input
*.rar -crlf
*.rb crlf=input
*.rc2 crlf=input
*.rc -crlf
rdjpgcom -crlf
*.readme crlf=input
README crlf=input
*.rtlights crlf=input
SCHEMA crlf=input
*.scm crlf=input
sdl-config crlf=input
SDL -crlf
*.sfd -crlf
*.shader crlf=input
*.sh crlf=input
*.skin crlf=input
*.sln -crlf
*.sounds crlf=input
*.sp2 -crlf
*.spr32 -crlf
*.spr -crlf
*.src crlf=input
*.strings crlf=input
strip crlf=input
*.svg -crlf
*.TAB -crlf
*.tga -crlf
TMAP -crlf
todo crlf=input
TODO crlf=input
*.ttf -crlf
*.txt crlf=input
*.txt.* crlf=input
update-shaderlists crlf=input
*.vbs -crlf
*.vcproj -crlf
*.vcxproj crlf=input
versionbuilder crlf=input
*.vhost crlf=input
*.wav -crlf
*.waypoints crlf=input
*.width crlf=input
*.workspace -crlf
wrjpgcom -crlf
*.xcf -crlf
*.xlink crlf=input
*.xml crlf=input
xonotic-map-compiler-autobuild crlf=input
xonotic-map-compiler crlf=input
xonotic-map-screenshot crlf=input
xonotic-osx-sdl crlf=input
*.xpm crlf=input
*.xrns -crlf
*.zip -crlf
zipdiff crlf=input
*.zym -crlf
