exec default.cfg
exec config.cfg
maxplayers $menu_maxplayers
exec data/campaign.cfg
exec config_update.cfg
exec font-xolonium.cfg
exec autoexec/*.cfg
exec autoexec.cfg
stuffcmds
//startdemos demos/demo1 demos/demo2 demos/demo3
//startdemos
//play announcer/male/welcome.ogg
crypto_keygen 0 https://ca.xonotic.org/?ca=0&key=

exec post-config.cfg
